/* You can add global styles to this file, and also import other style files */

// colors = {
//     #ffe5ec,
//     #ffc2d1,
//     #ffb3c6,
//     #ff8fab,
//     #fb6f92
// }

body {
    background-color: #ffe5ec;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
